@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using RazorComponents

@{

}


<h3>MVC Page still works great</h3>
<p>Checking hot reload</p>


<component type="typeof(RazorComponents.Component1)" render-mode="Static" param-text='"Sample Comp"' />
