@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">Customer Contacts</p>
            @Html.ActionLink("Customers >>", "Index","Customers", new { area = "Customers" }, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>