@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>
<hr />
<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">Customer Contacts</p>
            @Html.ActionLink("Customers >>", "Index","Customers", new { area = "Customers" }, new { @class = "btn btn-primary"})
        </div>
        <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <p class="card-text">Application Reports</p>
            <a asp-area="Reports" asp-page="/Reports" class = "btn btn-primary">Reports</a>
        </div>
    </div>
</div>