@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SampleComponent.Components

@model Sample101.Views.Sample.IndexModel
@{
}


<h2>MVC Sample View (Sample101)</h2>

<component type="typeof(SampleComponent)" render-mode="Static" param-text='"MVC View 101"' />
