<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eJobv30</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eJobv30.styles.css" asp-append-version="true" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eJobv30</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/sidebar.css" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
@*
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
*@
    <!-- Custom -->
    <link href="~/css/bootstrap/bootstrap-directional-buttons.min.css" rel="stylesheet" />
    <link href="~/css/ModalSearch.css" rel="stylesheet" />
    <link href="~/css/daterangepicker/daterangepicker.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="margin-right:10px;">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span> ... </span>
                </button>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eJobv30</a>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Modules">Modules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                   
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <div style="display: flex;">
        <!-- Sidebar Holder -->
            <div id="sidebar">
                @using RealSys.Modules.SysLib.Component
                <component type="typeof(MenuList)" render-mode="Static"
                           param-text='"Sample Comp"'
                           param-targetRoute='"Route"'
                           param-Items='@ViewData["MenuItems"]' />

            </div>

        <!-- Page Content Holder -->
        <div id="content" class="container-fluid">
            <div class="content-main ">
                <main role="main" class="pb-3">
                    @RenderBody()

                </main>
            </div>

               

        </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - eJobv30 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/Datepicker/moment.js"></script>
    <script src="~/lib/Datepicker/daterangepicker.js"></script>
    <script src="~/js/sidebar/sidebar.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
