@page
@using DevExtreme.AspNet.Mvc;
@{
    ViewData["Title"] = "Page1";
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
}

<h2>Page1 - sample devextreme page</h2>

@(Html.DevExtreme().Form<CoreLib.Inventory.Models.InvCategory>()
    .Items(items => {

        items.AddSimpleFor(m => m.Id);

        items.AddSimpleFor(m => m.Code);

        items.AddSimpleFor(m => m.Description);

        items.AddSimpleFor(m => m.Remarks);
    })
)
